pre{
    color: rgb(180, 180, 180);
    font-size: small;
    font-style: bold;
}

input{
    width: 300px;
    font-weight: bolder;
}

.fn-error{
    width: 155px;
    display: inline-block;
}

#firstname, #lastname{
    width: 135px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.error-block{
    font-size: x-small;
    font-weight: lighter;
    color: red;
}

.gap{
    margin-left: 10px;
    margin-right: 10px;
}

.type{
    padding: 5px;
    background-color: rgb(246, 245, 245);
    color: rgb(23, 35, 51);
    border: 1px solid rgb(236, 235, 235);
    border-radius: 5px;
    outline: none;
}


/* .type:focus{
    border: 1px solid green;
} */

.button{
    clear: both;
    float: right;
    width: 50%;
    background-color: rgb(23, 35, 51);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.button:hover{
    background-color: rgb(13, 25, 41);
    cursor: pointer;
}

.button:disabled{
    background-color: grey;
    cursor:wait;
}