
    <!-- <app-header 
    (headercomp)="homeSender($event)"
    [user]='user'
    ></app-header> -->

    <app-header></app-header>

    <router-outlet></router-outlet>


    <!-- <app-login 
    (user)="loginSender($event)" 
    [appsends] = 'data'
    *ngIf="activeComponent === 'LOGIN'"
    ></app-login>

    <app-home
    *ngIf="activeComponent === 'HOME'"
    ></app-home>

    <app-blogs
    [user]='user'
    *ngIf="activeComponent === 'BLOG'"
    ></app-blogs>

    <app-about-us
    *ngIf="activeComponent === 'ABOUTUS'"
    ></app-about-us> -->

    <app-footer></app-footer> 